---
title: Product Snapshot and Version Compatibility
---

The following table provides version and version-support information about <%=vars.product_full%>:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>1.12.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td><%=vars.release_date%></td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td><%=vars.component_product%> <%=vars.product_version_gemfire%></td>
    </tr>
    <tr>
        <td>Compatible <%=vars.ops_manager%> version(s)</td>
        <td>v2.10.x, v2.9.x</td>
    </tr>
    <tr>
        <td>Compatible <%=vars.app_runtime_full%> version(s)</td>
        <td>v2.10.x, v2.9.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Required BOSH stemcell version</td>
        <td>Xenial v621.101 or a more recent version</td>
    </tr>
    <tr>
        <td>JDK shipped with Tanzu GemFire</td>
        <td>1.8_242</td>
    </tr>
    <tr>
        <td>Minimum Java buildpack version required for apps</td>
        <td>v4.18<br>A v4.36 Java buildpack <a href="./session-caching.html"> requires customization</a> in order to work with an app that will be bound to a session replication service.</td>
    </tr>
</table>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../p-cloud-cache/partials/cloudcache/version-table' %>
