---
title: VMware Tanzu GemFire Release Notes
---

## <a id='v1122'></a>v1.12.2

**Release Date:**  February 25, 2021

- <%=vars.product_full%> runs <%=vars.component_product%> v9.10.6.

## <a id='v1121'></a>v1.12.1

**Release Date:**  November 9, 2020

Features included in this release:

- <%=vars.product_short%> supports <%=vars.app_runtime_full%> versions 2.10 and 2.9.
- <%=vars.product_full%> runs <%=vars.component_product%> v9.10.5.
- Improved performance by tuning the number of simultaneous handshakes that
the Tanzu GemFire cluster performs.

## <a id='v1120'></a>v1.12.0

**Release Date:**  July 31, 2020

Features included in this release:

- <%=vars.product_short%> supports <%=vars.app_runtime_full%> versions 2.10 and 2.9.
- <%=vars.product_full%> runs <%=vars.component_product%> v9.10.2.

## <a id='known-issues'></a>Known Issues

A v4.36 Java buildpack requires customization in order to work with an app that will be bound to a session replication service.
