---
title: VMware Tanzu GemFire Release Notes
---

## <a id='v1112'></a>v1.11.2

**Release Date:**  August 17, 2020

Features included in this release:

- <%=vars.product_short%> runs <%=vars.component_product%> v9.9.3.
- This product ships with JDK 1.8.0_242.

## <a id='v1111'></a>v1.11.1

**Release Date:**  July 13, 2020

Features included in this release:

- Fixed a bug that caused a
    ```
    cf update-service --restart
    ```
    to only start servers, and not start locators.
- Fixed a bug which caused BOSH backup and restore to fail with an
`Unable to form SSL connection` error
in a TLS-enabled service instance with the secure credentials option
selected in the tile configuration.
- Fixed a bug that caused setting up WAN replication to fail
when external authentication was configured.
- [Telemetry](https://docs.pivotal.io/pivotal-telemetry/1-1/index.html) support
allows <%=vars.product_short%> service instances to send diagnostic
information to VMware.
- <%=vars.product_short%> runs <%=vars.component_product%> v9.9.2.
- <%=vars.product_short%> ships with JDK 1.8.0_242.

## <a id='v1110'></a>v1.11.0

**Release Date:**  March 23, 2020

Features included in this release:

- <%=vars.product_full%> is our product's new name.
<%=vars.product_short%> used to be called Pivotal Cloud Cache.
- When an app runs within a different space than the <%=vars.product_short%>
service instance,
the service instance may now be configured to permit the app to write data. 
- [Configure Service Plans](install-configure.html#plan-config) describes
the revised set of offered service plans.
The Small Footprint Plan becomes a set of three colocated multi-VM plans.
The Dev Plan becomes a set of three colocated single-VM plans.
- The service key shows whether or not a service instance has TLS encryption
enabled with the `tls-enabled` flag.
- Fixed a bug in which installation of the <%=vars.product_short%> tile
would fail if there was an upper case letter in the name of
the service network name.
- Fixed a bug which caused the smoke test to fail if the plan name for
a colocated single-VM plan changed.
- Fixed a bug in which only two sets of WAN cluster details
were visible in service keys when there ought to have been three sets. 
- <%=vars.product_short%> runs <%=vars.component_product%> <%=vars.product_version_gemfire%>
- <%=vars.product_short%> supports <%=vars.app_runtime_full%> 2.9.
- <%=vars.product_short%> ships with JDK 1.8_222.

## Quick App Development

A quick way to try out <%=vars.product_short%> is by using 
[Pivotal Web Services](https://run.pivotal.io/) (PWS)
to spin up a <%=vars.product_short%> service instance from the PWS marketplace.
<%=vars.product_short%> on PWS is intended for use in proof of concept designs only.
It is not for production workloads.
There are no high availability guarantees (or any other guarantees)
provided for <%=vars.product_short%> service instances on PWS.

## <a id='v19-known-issues'></a>Known Issues

- Current versions of the Cloud Foundry Command Line Interface (CLI) tool
have a known bug that omits the documentation URL when
using the `cf service` command.
